html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 200vh;
  font-family: 'helvetica neue';
}
body{
  position: relative;
}
.menu-btn{
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 2;
  padding: 0;
  height: 40px;
  width: 40px;
  padding-top: 3px;
  /* font-size: ; */
  cursor: pointer;

  transition: all 200ms ease;
}
.menu{
  position: absolute;
  transition: all 400ms ease-in;
  top: -50px;
  right: 10px;
  width: 0px;
  opacity: 0;
  visibility: hidden;
}
.menu li{
  list-style: none;
  border-bottom: 1px solid #A683E3;
  margin-bottom: 10px;
  width: 225px;
  padding: 5px;
}
.menu li:hover{
  background-color: #A683E3;
  color: white;
  border-radius: 5px;
}
.menu a{
  text-decoration: none;
  font-size: medium;
  font-weight: 100;
  display: inline-block;
  width: 225px;
}
.appear{
  transition: all 400ms ease-out;
  width: 300px;
  visibility: visible;
  opacity: 1;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.box::-webkit-scrollbar{
  display: none;
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}
button{
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  border-width: 0;
}
.add {
  min-height: 50px;
  width: 50px;
  padding-bottom: 6px;
  font-size: 30px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

@media only screen and (max-width: 600px){
  .box{
    min-width: 300px;
  }
}